[submodule "Src/ThirdParty/glad"]
	path = Src/ThirdParty/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "Src/ThirdParty/glfw"]
	path = Src/ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "stb"]
	path = Src/ThirdParty/stb
	url = https://github.com/nothings/stb.git
