.vs/
.vscode/


# 屏蔽在 "cmake ." 之后生成的文件
CMakeFiles/
*.vcxproj
*.sln
*.filters
*.cmake
*.tcl

!CTestConfig.cmake
CMakeCache.txt
CMake.h

# 屏蔽在 "cmake --build ." 之后生成的文件
x64/
Testing/
*.dir/

# 屏蔽在 "cmake --install ." 之后生成的文件
**/Debug/ 
**/Binaries/
**/Build/


*.user
install_manifest.txt
